* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    padding: none;
}

body {
    background-color: lavender;
    margin-top: 5rem;
    scroll-behavior: smooth;


}

html {
    scroll-behavior: smooth;


}

.custom-toggler {

    background-color: rgb(69, 69, 147);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
    /*     
        
            background-color: #002444; */
    background-color: midnightblue;
    box-shadow: 0px 0px 10px 0px rgb(169, 165, 165);
    position: fixed;
    width: 100%;
    min-height: 5rem;
    z-index: 999;
    top: 0;
}

.navbar a {
    color: white;
}

.nav-item a {
    color: white;
}

.nav-link i {
    margin-left: 1rem;
    font-size: 1rem;
    background-color: white;
    color: #ff7308;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    padding: 0.51rem;
}

.nav-link i:hover {
    background-color: #ff7308;
    color: white;
}

#drp-dwn-cust {
    background-color: #454593;
}

#drp-dwn-cust .dropdown-item:hover {
    color: white;
    background-color: #ff7308;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

#nav-active a {
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: lighter;
    color: black;
}

.nav-head {
    height: 140px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0px 0px 10px 0px #b4b4b4;
    cursor: pointer;
}

.head-item-logo a {
    text-decoration: none;
    color: black;

}

.nav-head-items a {
    color: black;
    text-decoration: none;
}

.nav-head-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.head-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;

}

.head-item h5 {
    font-weight: bolder;
    margin-top: 1rem;
    color: black;
    font-family: poppins;
    font-size: 1.25rem;
}


.head-item img {
    height: 80px;
    text-align: center;
    transition: 0.31s ease-in-out;

}

.head-item img:hover {
    transform: scale(1.2);
}

.head-item-logo p {
    color: #ff7308;
    font-weight: bolder;
    font-size: 20px;
}



.front-main-head {
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(25deg, #0094e9 50%, #80D0C7 100%);

}

.head-main {
    min-height: 100%;
    padding: 20px;
    width: 100%;
    display: flex;

}

.left-head {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left-head p {
    font-family: poppins;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

.left-head button a {
    color: white;
    text-decoration: none;
}

.left-head button {

    background-color: crimson;
    color: white;
    font-weight: bolder;
    width: fit-content;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    font-size: 16px;
}

.right-head {
    display: flex;
    flex-basis: 50%;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.right-head img{
    max-height: 300px;
    max-width: 300px;
}

.wrap-importance{
    min-height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
}

.left-importance{
    min-height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    flex-basis: 50%;
    background-color: white;
    border-radius: 14px;
    padding: 20px;
    position: relative;
}
.left-importance::before{
    position: absolute;
    content: "";
    height: 270px;
    right: -10%;
    top: -15%;
    width: 230px;
    background-image: url(/images/arrow.png);
}
.left-importance p{
    font-weight: bolder;
    color: crimson;
    font-family: dosis;
    font-size: 20px;
}

#left-imp-p{
    color: black;
    font-family: dongle;
    font-weight: lighter;
    line-height: 0.8;
}

.left-importance-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 15px;
    margin-top: 30px;
    row-gap: 10px;

}
.grid-item-1{
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item-1 img{
    max-height: 200px;
    max-width: 200px;
}

.grid-item-2{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: crimson;
    border-radius: 12px;
    padding: 10px;
    color: white;
}
.grid-item-2 i{
    font-size: 20px;
}
#books-box-p{
    color: white;
    font-size: 20px;
    font-family: poppins;
}

#books-box-des{
    color: white;
    font-family: poppins;
    font-size: 14px;
    font-weight: lighter;
}